[submodule "external/xtensor"]
	path = mppi-ca/libs/xtensor
	url = git@github.com:xtensor-stack/xtensor.git
[submodule "external/xtensor-blas"]
	path = mppi-ca/libs/xtensor-blas
	url = git@github.com:xtensor-stack/xtensor-blas.git
[submodule "external/xtl"]
	path = mppi-ca/libs/xtl
	url = git@github.com:xtensor-stack/xtl.git
[submodule "external/xsimd"]
	path = mppi-ca/libs/xsimd
	url = git@github.com:xtensor-stack/xsimd.git
[submodule "mppi-ca/libs/pybind11"]
	path = mppi-ca/libs/pybind11
	url = git@github.com:pybind/pybind11.git
